

.img {
  display: flex;
  height: 90em;
  width: 100em;
}
.back-drop {
  background-image: url({iMovie.backdrop_path});
  display: flex;
  width: 20em;
  height: 30em;
  border: .5em solid magenta;


}