.img {
  display: flex;
  height: 90em;
  width: 100em;
}
.back-drop {
  background-image: url({iMovie.backdrop_path});
  background-size: 100%;
  display: block;
  height: 45em;
  background-repeat: no-repeat;
}

.indv-movie {
  height: 100%;
}

.descrip-text {
  color: lightgoldenrodyellow;
  display:inline-block;
}

.small {
  font-weight: 700;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: rgba(50, 50, 50, 0.8);
}

.misc-details {
  display: flex;
  flex-direction: column;
  align-items: end;
  background: rgba(50, 50, 50, 0.8);
}

.title {
  font-size: 40px;
}